body{
    margin:0px;
}

#site_header {
    background-color: lightskyblue;
    font-family: "Arial Black","Lucida Console",monospace;
    font-size:30px;
    padding:1em;
}

#site_header h1 {
    margin:0px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #567085;
}

.nav_link{
    padding:0.5em 1.5em;
    text-decoration: none;
    color:black;
    font-size:20px;
    font-family:"Verdana","Arial",sans-serif

}

.nav_link:hover {
    background-color: #487396;
}

main{
    padding:50px;
}

.sub_heading{
    font-size:28px;
}

p{
    font-size:22px;
    font-family:"Arial",'Trebuchet MS',sans-serif
}

