body{
    margin:0px;
}

#site_header {
    background-color: lightskyblue;
    font-family: "monaco","Lucida Console",monospace;
    font-size:30px;
    padding:1em;
}

#site_header h1 {
    margin:inherit;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #567085;
}

.nav_link{
    padding:0.5em 1.5em;
    text-decoration: none;
    color:black
}

.nav_link:hover {
    background-color: #487396;
}

main{
    padding:50px;
}

p{
    font-size:18px
}