#test_window {
    height: 500px;
    max-width: 1000px;
    min-width: 500px;
    border:solid black 5px;
    margin:auto;

    display: flex;
    justify-content : center;
    align-items: center;
}

.start_button {
    border-radius: 5px;
    font-family: arial;
    font-size: 45px;
    font-weight: 700;
    background-color: #19ab57;
    color: antiquewhite;
}

#instruction_emphasis{
    color:red;
    font-weight: 700;
}

.crt_symbol {
    font-size:200px;
}