section{
    margin: 50px;
}


#attempt_header {
    font-size: 30px;
    color: dimgray;
    font-family: Tahoma, sans-serif;
}

#crt_result_container{
    display:flex;
    flex-flow:row wrap;
    text-align:center;
    justify-content:space-evenly;
}
.result_data{
    color: #bd4005f0;
    font-size: 60px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    text-align:center;
    margin:60px;
    display:block
}


#buttons_container {
    display: flex;
    justify-content: space-around;
}

@media all and (max-width:800px){
    #attempt_header { text-align:center;}

    #buttons_container {
        flex-flow:column;
    }
    .link_buttons {
        margin:0px;
        border-radius:0px;
        outline:10px darkblue outset;
    }
}